{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block bannerurl %}{% static 'img/home-bg.jpg' %}{% endblock bannerurl %}

{% block site-heading %}
    <div class="site-heading">
        <h1>Clean Blog</h1>
        <span class="subheading">A Blog Theme by Start Bootstrap</span>
    </div>
{% endblock site-heading %}


{% block content %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <li style="list-style: none;" {% if message.tags %}class='alert alert-{{ message.tags }}'{% endif %}>{{ message }}</li>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row mb-3">
        <div class="col">
            <div class="card card-body">
                <h3>Filtro de pesquisa</h3>
                <form action="" method="get">
                    {{ filtro.form|bootstrap }}
                    <button class="btn btn-primary btn-sm btn-block" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </div>

    {% for post in filtro.qs %}
        <div class="post-preview">
            <a href="{{ post.get_absolute_url }}">
                <h2 class="post-title">
                    {{ post.titulo }}
                </h2>
                <h6 class="post-subtitle">
                    {{ post.conteudo|safe|truncatechars:"200" }}
                </h6>
            </a>
            <p class="post-meta">Postado por <strong style="color: black;">{{ post.autor.first_name }} {{ post.autor.last_name }}</strong> em {{ post.publicado }}</p>
        </div>
        <hr>
    {% endfor %}

    <!-- Pager -->
    {% if is_paginated %}
    <div class="clearfix">
        <div class="row text-center">
            <div class="col-sm">
                {% if page_obj.has_previous %}
                    <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">< Anterior</a>
                {% endif %}
            </div>
            <div class="col-sm"></div>
            <div class="col-sm">
                <span class="current">
                    {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm">
                {% if page_obj.has_next %}
                    <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Próxima ></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

{% endblock content %}
