{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block bannerurl %}{% static 'img/home-bg.jpg' %}{% endblock bannerurl %}

{% block site-heading %}
    <div class="site-heading">
        <h1>Clean Blog</h1>
        <span class="subheading">A Blog Theme by Start Bootstrap</span>
    </div>
{% endblock site-heading %}


{% block content %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <li style="list-style: none;" {% if message.tags %}class='alert alert-{{ message.tags }}'{% endif %}>{{ message }}</li>
            {% endfor %}
        </div>
    {% endif %}

    {% for post in object_list %}
        <div class="post-preview">
            <a href="{{ post.get_absolute_url }}">
                <h2 class="post-title">
                    {{ post.titulo }}
                </h2>
                <h6 class="post-subtitle">
                    {{ post.conteudo|safe|truncatechars:"200" }}
                </h6>
            </a>
            <p class="post-meta">Postado por <strong style="color: black;">{{ post.autor.first_name }} {{ post.autor.last_name }}</strong> em {{ post.publicado }}</p>
        </div>
        <hr>
    {% endfor %}

    <!-- Pager -->
    <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
    </div>
{% endblock content %}
