{% extends 'base.html' %}

{% block title %}{{ post.titulo }}{% endblock title %}

{% block content %}
    <div class="post-entry">
        <h2 class="">{{ post.titulo }}</h2>
        <p class="text-justify text-center">{{ post.conteudo|safe }}</p>
    </div>
    <div class="text-center">
        <a href="{{ post.get_absolute_url_edit }}" class="btn btn-info mb-2">Editar postagem</a>
        <a href="{{ post.get_absolute_url_delete }}" class="btn btn-danger mb-2">Deletar postagem</a>
    </div>
        
{% endblock content %}