{% extends 'base.html' %}
{% load static %}

{% block title %}Sobre{% endblock title %}

{% block bannerurl %}{% static 'img/about-bg.jpg' %}{% endblock bannerurl %}

{% block site-heading %}
    <div class="site-heading">
        <h1>Sobre mim</h1>
        <span class="subheading">Isso é o que eu faço</span>
    </div>
{% endblock site-heading %}


{% block content %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, 
        adipisci quas excepturi maxime quae totam ducimus consectetur?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, 
        adipisci quas excepturi maxime quae totam ducimus consectetur?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, 
        adipisci quas excepturi maxime quae totam ducimus consectetur?
    </p>
{% endblock content %}
